.button-edit-product {
    background-color: #63f47d;
    margin: 0 50px 10px;
    border-radius: 12em;
    border: 1px solid gray
}

.button-delete-product {
    background-color: rgb(238, 92, 92);
    margin: 0 50px 10px;
    border-radius: 12em;
    border: 1px solid gray
}